.hrLarge{
    border: 2px solid orangered;
    width: 70px;
}

#container {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 40px;
}

#shoppingOptions{
    padding: 20px;
}

#shoppingOptions button{
    display: inline-block;
}

body{
    background-color: #dad8d8;
    font-family: Arial, Helvetica, sans-serif;
}