.AddCupomForm {
    width: 500px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

form Input {
    display: table;
}

.addCupomButtons {
    text-align: center;
    margin: 20px;
}

label{
    font-weight: bold;
    font-size: 110%;
    padding-top: 10px;
}