.buttonclass{
    display: inline-block;
    cursor: pointer;
    padding: 2px;
    margin: 5px;
    width: 120px;
    height: 30px;
    background-color: #ec6533;

    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
    text-align: center;

    border: 1px solid #fa4605;
    border-radius: 5px;
}
.buttonclass:hover{
    color:#fa4605;
    background-color:#FFFFFF;
}
.myButton:active {
	position:relative;
	top:1px;
}

        