.buttonclass{
    display: inline-block;
    cursor: pointer;
    padding: 2px;
    margin: 5px;
    width: 120px;
    height: 30px;
    
    font-size: 16px;
    text-decoration: bold;
    text-align: center;

    border: 1px solid #fa4605;
    border-radius: 5px;
}
.activeButton{
    color: #FFFFFF;
    background-color: #ec6533;
}
.disactiveButton{
    color:#fa4605;
    background-color:#FFFFFF;
}
/* .buttonclass:hover{
    font-weight: bold;
} */

button:disabled,
button[disabled] {
	opacity: 0.4;
    color: #FFFFFF;
    background-color: #ec6533;
    cursor:auto;

}

        