#navButton{
    width: 240px;
    margin: 10px;
    text-align: center;
    padding: 36px;
    border: 2px solid #ec6533;
    border-radius: 5px;
    
    background-color: transparent;
}

#navButton:hover{
    background-color: rgba(255, 255, 255, 0.281);
    color: #ec6533;
}

#navButton img{
    width: 90px;
    height: 90px;
}

.hrSmall{
    border: 0.3px solid orangered;
    width: 30px;
}